.header {
  font-size: 26px;
  text-decoration: underline;
}
.item {
  font-style: italic;
  display: inline-block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  transition: 0.3s;
}
.total {
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.feedback {
  font-size: 22px;
  font-weight: 600;
  color: black;
}
